# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.exam

node_modules
lib
bundles
coverage
.nyc_output
dist
.husky/_
cache

.vscode

# IDEs and editors
.DS_Store
yarn-error.log

# Build files
**/*.min.js

# test files
tests/wallets
tests/contracts

src/contract/process.wasm
key.json
wallet.json
secret-key-base64.txt
keys
wallets

test/util/test-keys/other
